header{
    width:100%;
}
.top{
    height:100px;
    width:1142px;
    margin: 0 auto 1px auto;
}
.top img{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
.top h3{
    color:  rgba(34, 34, 36, 0.67);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 20px;
    padding-top: 20px;
    display: inline-block;
    float: left;
}
.top h3 span{
    color: #f16d7f;
}
.top_search{
    padding-top: 33px;
    margin-left: 40px;
    float: left;
    display: inline-block;
}
.search {
    width: 318px;
    position: relative;
}
.search input {
    border: none;
}
.search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}
.search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
}
.search .submit:hover {
    opacity: 0.8;
}
input[type="search"] {
    -webkit-appearance: none;
}
.cart{
    display: inline-block;
    float: right;
    margin-top: 14px;
    margin-right: 40px;
    width: 32px;
}
.header_btn{
    display: flex;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 30px;
    float: right;
    border-radius: 3%;
}
.header_btn span{
    margin: auto;
}

.header_menu{
    height:50px;
    width:1142px;
    margin: 0 auto;
}
.menu {
    margin:0 auto;
    width: 680px;
    height: 50px;
    padding-left: 10%;
}

.menu-item {
    height: 100%;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    justify-content: space-around;
}

.menu-item a {
    display: block;
    margin-right:20px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgba(34, 34, 36, 0.67);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px
}

.menu-item a:hover {
    background-color: #f16d7f;
    color: white;
}
main{
    width:100%;
}
.new_arrivals{
    width: 100%;
    height: 148px;
    background-color:  #f8f3f4;
}
.new_arrivals_box{
    width: 1140px;
    height: 148px;
    margin: 0 auto 76px auto;
}
.new_arrivals_box h1{
    display: inline-block;
    float: left;
    color:  #f16d7f;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 148px;
    margin: 0;
}
.new_arrivals_box a{
    float: right;
    color:  #636363;
    font-size: 14px;
    font-weight: 300;
    margin-top: 74px;
    text-transform: uppercase;
    text-decoration: none;
}
.new_arrivals_box a:hover {
    color:  #f16d7f;
    font-size: 16px
}
.cart_wrap{
    padding: 0 20px;
    max-width: 1137px;
    margin: 230px auto 50px auto;
}
.cart_table{
    display: table;
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
}
.cart_table tr{
    border-bottom: solid 1px #f0f0f0;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
td{
    color:  #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    text-align: center;
}
td:first-child{
    text-align: left;
}
.item_name{
    display: block;
    color:  #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}
.item_description{
    color:  #575757;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 38px;
}
.price{
    color:  #575757;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}
.cart_delete{
    display: block;
    width: 15px;
    height: 15px;
    margin: auto;
    background-image: url("../icons/no.png");

}
.table_footer{
    max-width: 1137px;
    height: 100px;

}
.btn_left{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color:  #eaeaea;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 235px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    color:  #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    margin-top: 50px;
    line-height: 50px;
    float: left;

}
.btn_left:hover{
    background-color: #4a4a4a;
    color: white;
}
.btn_right{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color:  #eaeaea;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 235px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    color:  #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    margin-top: 50px;
    line-height: 50px;
    float: right;

}
.btn_right:hover{
    background-color: #4a4a4a;
    color: white;
}
.order_details{
    max-width: 1137px;
    margin:70px auto ;
}
.shipping_details{
    display: inline-block;
    float: left;
    width: 33.3333%;
}
.ship_addr{
    text-transform: uppercase;
    color:  #222222;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.code{
    color:  #000000;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    line-height: 20px;
}
.shipping_details_pink{
    background-color:  #f5f3f3;
    width: 360px;
    height: 214px;
}
.checkout_btn{
    margin: auto;
    background-color:  #f16d7f;
    width: 273px;
    height: 50px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}
.checkout_hr{
    width: 300px;
    opacity: 0.5;
}
.s_t{
    color:  #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    line-height: 11px;
}
.g_t{
    color:  #222222;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}
.g_t span{
    color:  #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}